<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
  
</head>
<body>
  <div class="container">
    <h2>Iniciar sesión</h2>
    <form method="post" action="/login">
      Email: <input type="email" name="email" required>
      Contraseña: <input type="password" name="password" required>
      <button type="submit">Entrar</button>
    </form>
    <p th:if="${error}" th:text="${error}" class="error"></p>
    <a href="/register">Registrarse</a>
  </div>
</body>
</html>
